

---

# üêç Python Loops & Exercises ‚Äî Detailed Guide

## 1. üîÑ The `for` Loop
- A `for` loop is used to iterate over a sequence (list, tuple, string, dictionary, etc.).
- Syntax:
```python
for item in sequence:
    # code block
```
- Example:
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

---

## 2. üìú For Loops with Strings and Dictionaries
- **Strings**: Iterates character by character.
```python
text = "Python"
for char in text:
    print(char)
```
- **Dictionaries**: Iterates over keys by default.
```python
student = {"name": "Kushal", "age": 21, "grade": "A"}
for key in student:
    print(key, ":", student[key])
```

---

## 3. üî¢ The `range()` Function
- Generates a sequence of numbers.
- Syntax: `range(start, stop, step)`
```python
for i in range(1, 6):
    print(i)   # prints 1 to 5
```

---

## 4. ‚ûï Total, Highest, and Lowest Using Loops
```python
numbers = [10, 25, 7, 50, 32]
total = 0
highest = numbers[0]
lowest = numbers[0]

for num in numbers:
    total += num
    if num > highest:
        highest = num
    if num < lowest:
        lowest = num

print("Total:", total)
print("Highest:", highest)
print("Lowest:", lowest)
```

---

## 5. ‚è≠Ô∏è Continue and Break
- **`continue`** skips the current iteration.
- **`break`** exits the loop completely.
```python
for i in range(1, 6):
    if i == 3:
        continue  # skips 3
    if i == 5:
        break     # stops loop at 5
    print(i)
```

---

## 6. üîÅ The `while` Loop
- Runs until a condition becomes false.
```python
count = 1
while count <= 5:
    print(count)
    count += 1
```

---

## 7. ‚ôæÔ∏è Infinite While Loop
```python
while True:
    print("This will run forever!")
    # break condition needed to stop
```

---

## 8. üé≤ Random Module
- Used for random numbers or choices.
```python
import random
print(random.randint(1, 6))  # random dice roll
```

---

## 9. üîÇ Nested Loops
- Loop inside another loop.
```python
for i in range(1, 4):
    for j in range(1, 3):
        print(f"i={i}, j={j}")
```

---

## 10. ‚≠ê Star Pattern Using For Loop
```python
rows = 5
for i in range(1, rows+1):
    print("*" * i)
```
Output:
```
*
**
***
****
*****
```

---

## 11. üé≤ Exercise: Roll a Dice
```python
import random
dice = random.randint(1, 6)
print("You rolled:", dice)
```

---

## 12. üìã Exercise: List and Loop
```python
numbers = [2, 4, 6, 8, 10]
for n in numbers:
    print(n * n)  # print square
```

---

## 13. üìñ Exercise: Loop and Dictionaries
```python
students = {"Kushal": 85, "Amit": 90, "Sara": 78}
for name, marks in students.items():
    print(name, "scored", marks)
```

---

## 14. ‚ùì Number Guessing Game Problem
- Computer picks a random number.
- User guesses until correct.

---

## 15. ‚úÖ Number Guessing Game Solution
```python
import random

secret = random.randint(1, 10)
guess = None

while guess != secret:
    guess = int(input("Guess a number between 1 and 10: "))
    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
    else:
        print("üéâ Correct! The number was", secret)
```

---

# üèÅ Wrap-Up
This guide covers:
- `for` loops with sequences  
- `range()` usage  
- Loop control (`continue`, `break`)  
- `while` loops (including infinite)  
- Random module  
- Nested loops & star patterns  
- Practical exercises (dice roll, list, dict, guessing game)

In [40]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
l1= [1,2,3,4,5,6,7,8,9,10]
for  i in l1:
    print(i)

for i in range(1,11,2):
    print(i)
for i in range(11,-1,-1):
    print(i)

1
2
3
4
5
6
7
8
9
10
1
3
5
7
9
11
10
9
8
7
6
5
4
3
2
1
0

In [42]:
# for loop work with list, dict, tuple, set, string 
s1 = "Hello my name is kushal"
for i in s1:
    print(i)

H
e
l
l
o

m
y

n
a
m
e

i
s

k
u
s
h
a
l

In [43]:
s1 = "Hello my name is kushal"
print(s1)
print(f"the length of the string is {len(s1)}")

Hello my name is kushal
the length of the string is 23

In [44]:
s1.strip()
 

for i in s1:
    print(i, end=" ")

print("\n")
for i in s1:
    print(i, end="\'\'")

H e l l o   m y   n a m e   i s   k u s h a l

H''e''l''l''o'' ''m''y'' ''n''a''m''e'' ''i''s'' ''k''u''s''h''a''l''

In [45]:
t1="hi",1, 10.9, 12, 13, True   , False,"my name is kushal",{" this is set", "this is under tuple"}, ["this is list under the tuple"]
print(t1)
print(type(t1))

for i in t1:
    print(i, end=" " )

for i in t1:
    print(i)

('hi', 1, 10.9, 12, 13, True, False, 'my name is kushal', {' this is set', 'this is under tuple'}, ['this is list under the tuple'])
<class 'tuple'>
hi 1 10.9 12 13 True False my name is kushal {' this is set', 'this is under tuple'} ['this is list under the tuple'] hi
1
10.9
12
13
True
False
my name is kushal
{' this is set', 'this is under tuple'}
['this is list under the tuple']

In [46]:
set1= {1,2,3,4,5,6,7,8,9,10}
for i in set1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [47]:
dict1={
   "key":"value",
   "name":"Kushal",
   "age":21,
   "gender":"male"
}
employee= {
    "employee_id":123,
    "employee_name":"Kushal",
    "employee_age":21,
    "employee_gender":"male",
}

In [48]:
for i in employee:
    print(i)#by default it will print the key in the dictionary

employee_id
employee_name
employee_age
employee_gender

In [49]:
for i in employee:
    print(i, end=" ,")

employee_id ,employee_name ,employee_age ,employee_gender ,

In [50]:
# tp print key and values together 

for i in employee:
    print(i, employee[i])

employee_id 123
employee_name Kushal
employee_age 21
employee_gender male

In [51]:
# range function in for loop  is the built in function in python use to generate a sequence of numbers at the interval
# range( start , stop , step )
# for i  in range ( start , stop , step )

In [52]:
print(" let check the range function")
for i in range(1,10):#default step is 1
    print(i)

 let check the range function
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(1, 11,2):#with the interval of 2
    print(i)

1
3
5
7
9

In [54]:
for i in range(1, 50,4):
    print(i, end = " ")

1 5 9 13 17 21 25 29 33 37 41 45 49

In [55]:
for i in range(100, 50,-4):
    print(i, end = " ")

100 96 92 88 84 80 76 72 68 64 60 56 52

In [56]:
scores =[91,19,19,29,39,392,32,42,42,2323]
for i in scores:
    if i <90:
        print(i)

19
19
29
39
32
42
42

In [57]:
total = 0
for score in scores:
    total = total + score   
    print("the total score is :",total)#print by each iteration 
print("the final  total score is :",total)#totol score at once

the total score is : 91
the total score is : 110
the total score is : 129
the total score is : 158
the total score is : 197
the total score is : 589
the total score is : 621
the total score is : 663
the total score is : 705
the total score is : 3028
the final  total score is : 3028

In [58]:
# sum function in python
print(scores)

[91, 19, 19, 29, 39, 392, 32, 42, 42, 2323]

In [59]:
total1= sum(scores)
print(total1)

3028

In [60]:
# highest score   
scores = [78, 65, 89, 92, 70]
highest= scores[0]
for score in scores:
    if score > highest:
        highest = score
print("The highest score is:", highest)

The highest score is: 92

In [61]:
# to find the lowest scores using the fucntion inbult in python 
scores = [78, 65, 89, 86, 55, 91, 65]
lowest_score = min(scores)
print(lowest_score)
high_score = max(scores)
print(high_score)

55
91

In [62]:
# lowest score 
scores = [19, 12,11, 13, 15,15,16, 19]
lowest_score = scores[0]
for score in scores:
    if score < lowest_score:
        lowest_score = score
print("The lowest score is:", lowest_score)

The lowest score is: 11

In [63]:
for i in range(10):
    if i % 2 == 0:
        continue #continue statement is use to skip the current iteration
    print(i)

1
3
5
7
9

In [64]:
# break staement  
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [65]:
# while condition
for i in range (100):
    while i %25 == 0:
       i+=3
       print(i)

3
28
53
78

In [66]:
# random module in python  [module = library]
import random

# Generate a random number between 1 and 100
random_number = random.randint(1, 100)
print("Random Number:", random_number)

Random Number: 29

In [67]:
# random module in python  [module = library]
import random

# Generate a random number between 1 and 100
random_number = random.randint(1, 100)
print("Random Number:", random_number)

Random Number: 18

In [68]:
import random as proud_randi

print(f"the avg body count of the proud randi is {proud_randi.randint(1,1000)}")

the avg body count of the proud randi is 755

In [69]:
import random

# Generate a random number between 1 and 100
guesses = 0
number = random.randint(1, 100)

while True:
    guess = int(input("Guess the number between 1 and 100: "))
    guesses += 1

    if guess < number:
        print("Too low!")
    elif guess > number:
        print("Too high!")
    else:
        print(f"Congratulations! You guessed the number in {guesses} attempts.")
        break

Too high!
Too high!
Too high!
Too high!
Too low!
Too low!
Too low!
Too low!
Congratulations! You guessed the number in 9 attempts.

In [70]:
import random
print(random.random())

0.6766994874229113

In [71]:
# can random module print other than int values
# annswer is = no

In [72]:
print(random.randint(1, 6))  # Simulates a dice roll

5

In [73]:
print(random.uniform(1.5, 5.5))  # Example: 3.27

1.8477553305176646

In [74]:
colors = ["red", "blue", "green", "yellow"]
print(random.choice(colors))  # Example: "green"

yellow

In [75]:
lottery = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(random.choices(lottery, k=3))  # Example: [2, 7, 4]

[1, 1, 3]

In [76]:
print(random.sample(lottery, 3))  # Example: [1, 8, 5]

[1, 4, 6]

In [77]:
deck = ["A", "K", "Q", "J", "10"]
random.shuffle(deck)
print(deck)  # Example: ['10', 'Q', 'A', 'J', 'K']

['Q', 'K', 'A', 'J', '10']

In [78]:
random.seed(42)
print(random.random())  # Always gives the same result with seed

0.6394267984578837

In [79]:
print(random.gauss(0, 1))  # Normal distribution

0.7921447409497909

In [82]:
# nested loop
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [85]:
for i in range(1, 5):
    for j in range(1, 5):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

In [91]:
for i in range(4)   :
    for j in range(4):
        print(f" i =: {i}, and j =: {j} ")

 i =: 0, and j =: 0
 i =: 0, and j =: 1
 i =: 0, and j =: 2
 i =: 0, and j =: 3
 i =: 1, and j =: 0
 i =: 1, and j =: 1
 i =: 1, and j =: 2
 i =: 1, and j =: 3
 i =: 2, and j =: 0
 i =: 2, and j =: 1
 i =: 2, and j =: 2
 i =: 2, and j =: 3
 i =: 3, and j =: 0
 i =: 3, and j =: 1
 i =: 3, and j =: 2
 i =: 3, and j =: 3

In [92]:
# print differnt type of star pattern
for i in range(5):
    print("*" * i)

*
**
***
****

In [101]:
# print pyrimid pattern centered
for i in range(5):
    print(" " * (5 - i) + "*" * (2 * i + 1))

     *
    ***
   *****
  *******
 *********