
---

# üêç Python Data Structures & Operations

---

## 1Ô∏è‚É£ Introducing Tuples
- Tuples are **ordered, immutable** collections.
- Defined using parentheses `()`.

```python
t = (1, 2, 3, "Python")
print(t)   # (1, 2, 3, 'Python')
```

---

## 2Ô∏è‚É£ Basic Operations on Tuples
- Indexing: `t[0] ‚Üí 1`
- Slicing: `t[1:3] ‚Üí (2, 3)`
- Concatenation: `(1,2) + (3,4) ‚Üí (1,2,3,4)`
- Repetition: `(1,2) * 2 ‚Üí (1,2,1,2)`

---

## 3Ô∏è‚É£ Lists are Mutable! Tuples are Not
```python
lst = [1,2,3]
lst[0] = 99
print(lst)   # [99,2,3]

t = (1,2,3)
# t[0] = 99 ‚Üí ‚ùå Error (tuples cannot be changed)
```

---

## 4Ô∏è‚É£ Introducing Sets
- Sets are **unordered collections** of unique elements.
- Defined using `{}` or `set()`.

```python
s = {1,2,3,3}
print(s)   # {1,2,3}
```

---

## 5Ô∏è‚É£ Basic Operations on Sets
- Add: `s.add(4)`
- Remove: `s.remove(2)`
- Membership: `3 in s`

---

## 6Ô∏è‚É£ Operations on Sets ‚Äì Union, Intersection, Difference
```python
a = {1,2,3}
b = {3,4,5}

print(a | b)   # Union ‚Üí {1,2,3,4,5}
print(a & b)   # Intersection ‚Üí {3}
print(a - b)   # Difference ‚Üí {1,2}
```

---

## 7Ô∏è‚É£ Is My Set Frozen!
- **Frozen sets** are immutable versions of sets.

```python
fs = frozenset([1,2,3])
# fs.add(4) ‚Üí ‚ùå Error
```

---

## 8Ô∏è‚É£ Introducing Dictionaries
- Dictionaries store **key-value pairs**.
- Defined using `{key: value}`.

```python
d = {"name": "Kushal", "age": 25}
print(d["name"])   # Kushal
```

---

## 9Ô∏è‚É£ Operations on Dict ‚Äì Updating and Deleting
```python
d["age"] = 26        # Update
del d["name"]        # Delete
print(d)             # {'age': 26}
```

---

## üîü Working with Keys & Values
```python
print(d.keys())      # dict_keys(['age'])
print(d.values())    # dict_values([26])
print(d.items())     # dict_items([('age', 26)])
```

---

## 1Ô∏è‚É£1Ô∏è‚É£ Is the Copy Shallow or Deep?
- **Shallow copy**: Copies references (nested objects still linked).
- **Deep copy**: Creates independent copies.

```python
import copy

lst = [[1,2], [3,4]]
shallow = lst.copy()
deep = copy.deepcopy(lst)

lst[0][0] = 99
print(shallow)   # [[99,2],[3,4]] ‚Üí affected
print(deep)      # [[1,2],[3,4]] ‚Üí unaffected
```

---

## 1Ô∏è‚É£2Ô∏è‚É£ For Loop
Used to iterate over sequences (lists, tuples, sets, dicts).

```python
# List
for x in [1,2,3]:
    print(x)

# Dictionary
for key, value in {"a":1, "b":2}.items():
    print(key, value)
```

---

# üéØ Quick Recap
- **Tuples**: Immutable, ordered.
- **Lists**: Mutable, ordered.
- **Sets**: Unordered, unique elements.
- **Frozen sets**: Immutable sets.
- **Dictionaries**: Key-value pairs.
- **Copying**: Shallow vs deep.
- **For loops**: Iterate over any iterable.

---

In [156]:
# tupple are also comma separated values
# tupple  is sequesnce of as collection of values
# tupple can store any data type 
tuple1=(1,2,3,4,5,True, False,["hello"],(20, 40),{1,2,3})
print(tuple1)

(1, 2, 3, 4, 5, True, False, ['hello'], (20, 40), {1, 2, 3})

In [157]:
# to find the length of the tuple 
print (len(tuple1))

# to find the type of the tuple
print (type(tuple1))

# accessing the tupple 
print (tuple1[1])
print (tuple1[-1])
print (tuple1[1:3])#slicing

10
<class 'tuple'>
2
{1, 2, 3}
(2, 3)

In [158]:
t1=(1,2,3,4,5,6,7,8,9,10)
t2= 11,13,15,17,19 #another way to declare the tupple 
print(t1)
print(t2)
print(type(t1))
print(type(t2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(11, 13, 15, 17, 19)
<class 'tuple'>
<class 'tuple'>

In [159]:
# list vs tupple vs array defintion
array=[1,2,3,4,5]
lisst=[1,2,3,4,5, "hello", True]
tupple=(1,2,3,4,5)
print(array)
print(lisst)
print(tupple)
print(type(array))
print(type(lisst))
print(type(tupple))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'hello', True]
(1, 2, 3, 4, 5)
<class 'list'>
<class 'list'>
<class 'tuple'>

In [160]:

l1=[1,2,3,4,5,6,7,8,9,10]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [161]:
l1 = [1,2,3,4,5,6,7,8,9,10]   # list
t1 = tuple(l1)                # convert list ‚Üí tuple
print(t1)
print(type(t1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [162]:
l1= list(t1)
print(l1)
print(type(l1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [163]:
# operations on tupple concatation,repition, membership count, index, min, max, len sum
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print(t1+t2)
print(t1*2)
print(3 in t1)
print(t1.count(3))
print(t1.index(3))
print(min(t1))
print(max(t1))
print(len(t1))
print(sum(t1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
1
2
1
5
5
15

In [164]:
# sets
s1={10, "set", 2.4}
print(s1)
print(type(s1))
print (len(s1))

{'set', 10, 2.4}
<class 'set'>
3

In [165]:
# sets do not allow duplicates
s2={10, 20, 20, 10 , 30 }
print(s2)
print(len(s2))

# empty set
s3={}   
print(f"elememt of the set s3 is {s3}")
print(len(s3))

{10, 20, 30}
3
elememt of the set s3 is {}
0

In [166]:
print(f" the union of the s1 and s2 is {s1.union(s2)}")
print(f" the intersection of the s1 and s2 is {s1.intersection(s2)}")

# another format using operators
print("the union of s1 and s2 is", s1 | s2)        # ‚úÖ union
print("the intersection of s1 and s2 is", s1 & s2) # ‚úÖ intersection

 the union of the s1 and s2 is {'set', 2.4, 20, 10, 30}
 the intersection of the s1 and s2 is {10}
the union of s1 and s2 is {'set', 2.4, 20, 10, 30}
the intersection of s1 and s2 is {10}

In [167]:
# dictionaries in python
# it consist of the key: value pairs in {}
dict1={
    "name":"kushal",
   " age":21,
    "gender":"male",
    "bachlors": "engineering"
}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1.get("name"))
print(dict1.get("age"))
print(dict1.get("gender"))
print(dict1.get("bachlors"))
print(dict1.update({"name":"Kushal"}))
print(dict1)
print(len(dict1))
print(dict1.pop("bachlors"))
print(dict1)

{'name': 'kushal', ' age': 21, 'gender': 'male', 'bachlors': 'engineering'}
dict_keys(['name', ' age', 'gender', 'bachlors'])
dict_values(['kushal', 21, 'male', 'engineering'])
dict_items([('name', 'kushal'), (' age', 21), ('gender', 'male'), ('bachlors', 'engineering')])
kushal
None
male
engineering
None
{'name': 'Kushal', ' age': 21, 'gender': 'male', 'bachlors': 'engineering'}
4
engineering
{'name': 'Kushal', ' age': 21, 'gender': 'male'}

In [168]:

dict2={
    "name":"kio",
    "animal":"cat",
    "age":2,
    "color":"black",
    "leg":4,
    "tail":1
}
print(dict2)
print(dict2.keys())
print(dict2.values())
print(dict2.items())
print(dict2.get("name"))
print(dict2.get("animal"))
print(dict2.get("age"))
print(dict2.get("color"))
print(dict2.get("leg"))
print(dict2.get("tail"))
print(dict2.update({"name":"kiyo"}))
print(dict2)

{'name': 'kio', 'animal': 'cat', 'age': 2, 'color': 'black', 'leg': 4, 'tail': 1}
dict_keys(['name', 'animal', 'age', 'color', 'leg', 'tail'])
dict_values(['kio', 'cat', 2, 'black', 4, 1])
dict_items([('name', 'kio'), ('animal', 'cat'), ('age', 2), ('color', 'black'), ('leg', 4), ('tail', 1)])
kio
cat
2
black
4
1
None
{'name': 'kiyo', 'animal': 'cat', 'age': 2, 'color': 'black', 'leg': 4, 'tail': 1}

In [169]:
# upate and delete the data in dictionary
marks = {'english': 90, 'math': 95, 'science': 85}
marks['english'] = 92
print(marks['english'])
print(marks.get("math"))
print(marks)

# delete the data in dictionary
marks = {'english': 90, 'math': 95, 'science': 85}
del marks['english']    
print(marks)
# updatemark in dictionary
marks = {'english': 90, 'math': 95, 'science': 85}
marks.update({'english': 92})
print(marks)

92
95
{'english': 92, 'math': 95, 'science': 85}
{'math': 95, 'science': 85}
{'english': 92, 'math': 95, 'science': 85}

In [170]:
# key and value of dictionary
dict1={
    "name":"John",
     "age":30,
    "city":"New York",
    "tuple":(1,2,3),
    "boolean":True,
    "list1":[1,2,3],
    "set1":{1,2,3},
    "dict1":{"name":"John", "age":30, "city":"New York"}

    }
print(dict1)
#interchange the key and value of dictionary
dict2={
    "john":"name",
    "age":30,
    "city":"New York",
    True:"boolean",
    # ""(1,2,3):"tuple1",
    # [1,2,3]:"list1",all this are not allowed in dict
    # {1,2,3}:"set1",
    # {"name":"John", "age":30, "city":"New York"}:"dict1"""

}

{'name': 'John', 'age': 30, 'city': 'New York', 'tuple': (1, 2, 3), 'boolean': True, 'list1': [1, 2, 3], 'set1': {1, 2, 3}, 'dict1': {'name': 'John', 'age': 30, 'city': 'New York'}}

In [171]:
import copy

In [172]:
# shallow copy and deep copy can be applied on only mutable data types
l1=[10, 20, 30, ("python", "java"), {"a":10, "b":20}, {20, 20, 10, 10 ,30, 40}]

In [173]:
l2= copy.copy(l1)# this is shallow copy
#this is deep copy
l3= copy.deepcopy(l1)

In [174]:
print(l1    )
print(id(l1))
print(l2)
print(id(l2))
print(l3)   
print(id(l3))

[10, 20, 30, ('python', 'java'), {'a': 10, 'b': 20}, {40, 10, 20, 30}]
1970548502464
[10, 20, 30, ('python', 'java'), {'a': 10, 'b': 20}, {40, 10, 20, 30}]
1970548227136
[10, 20, 30, ('python', 'java'), {'a': 10, 'b': 20}, {40, 10, 20, 30}]
1970547292928

In [175]:
# lets update the l1 
l1[0]=109
print("this is l1 list ",l1)
print(id(l1))
print("this is l2 list ",l2)
print(id(l2))
print("this is l3 list ",l3)   
print(id(l3))

this is l1 list  [109, 20, 30, ('python', 'java'), {'a': 10, 'b': 20}, {40, 10, 20, 30}]
1970548502464
this is l2 list  [10, 20, 30, ('python', 'java'), {'a': 10, 'b': 20}, {40, 10, 20, 30}]
1970548227136
this is l3 list  [10, 20, 30, ('python', 'java'), {'a': 10, 'b': 20}, {40, 10, 20, 30}]
1970547292928