In [16]:
# pip install kagglehub
# pip install pandas
# pip install numpy
# pip install matplotlib
# pip install seaborn
# pip install scikit-learn
# pip install scipy
# download all the above packages

In [22]:
import kagglehub
import pandas as pd   # <-- you also need to import pandas

# Download latest version
path = kagglehub.dataset_download("donsalehi/auto-mpg-csv")

print("Path to dataset files:", path)

# FIX: 'path' is a folder, so we must add the filename
df = pd.read_csv(path + "/auto-mpg.csv")   # <-- corrected line

print(df)

Path to dataset files: C:\Users\tripa\.cache\kagglehub\datasets\donsalehi\auto-mpg-csv\versions\1
      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model-year
0            70
1            70
2            70
3            70
4            70
..          ...
393          82
394          82
395          82
396          82
397          82

[398 rows x 7 columns]

In [24]:
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model-year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [ ]:
df.head(10)#parameter passed in head function is the number of rows to be displayed from the top

    mpg  cylinders  displacement  horsepower  weight  acceleration  model-year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70
5  15.0          8         429.0       198.0    4341          10.0          70
6  14.0          8         454.0       220.0    4354           9.0          70
7  14.0          8         440.0       215.0    4312           8.5          70
8  14.0          8         455.0       225.0    4425          10.0          70
9  15.0          8         390.0       190.0    3850           8.5          70

In [27]:
df.tail() #parameter passed in tail function is the number of rows to be displayed from the bottom

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [29]:
df.to_csv("customData.csv")#this will save the data in a csv file

In [ ]:
df.dtypes
#to find the data type of each column

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model-year        int64
dtype: object

In [ ]:
df.describe()
#this will give us the summary of the data
#returns the count, mean, std, min, 25%, 50%, 75%, max

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year
count,398.000000,398.000000,398.000000,396.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.189394,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.402030,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,92.000000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [ ]:
df.describe(include='all')#full summary of the data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year
count,398.000000,398.000000,398.000000,396.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.189394,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.402030,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,92.000000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [ ]:
df.info()#it will give us the information about the data(consise summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    396 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model-year    398 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 21.9 KB

# Changing DataFrame Header

To change the header of the given data:

```python
header = ["col1", "col2", "col3"]
df.columns = header

In [35]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model-year'],
      dtype='object')

# preprocessing of the data 
where we will handle the missing values and outliers
which is an important step in data analysis
it includes following steps 
1. handling missing values
2. handling outliers